path {
    stroke: #fff;
}

path:hover {
    opacity: 0.9;
}

rect:hover {
    fill:blue;
}

.axis {
    font: 10px sans-serif;
}

.legend tr{
    border-bottom:1px solid grey;
}

.legend tr:first-child {
    border-top:1px solid grey;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.legend {
    border-collapse: collapse;
    border-spacing: 0px;
    display:inline-block;
    margin-bottom: 15px;
    margin-right: 70px;
    float: right;
}

.legend td {
    padding: 4px 5px;
    vertical-align: bottom;
}

.legendFreq, .legendPerc {
    text-align: right;
    width: 50px;
}